<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:overrideLibrary="androidx.ui.tooling"

    package="com.lifecycle.demo">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
<!--    <permission android:name="${applicationId}.permission.MIPUSH_RECEIVE"-->
<!--        android:protectionLevel="signature" /> -->

    <uses-permission android:name="com.xiaomi.mipushdemo.permission.MIPUSH_RECEIVE" />
    <application
        android:name=".ui.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">

        <activity android:name="com.lifecycle.demo.ui.debug.BlackActivity" />
        <activity android:name=".ui.home.HomeActivity"/>
        <activity android:name=".ui.start.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".base.util.PhoneSystemManager" />
        <activity android:name=".base.arouter.SchemaFilterActivity">
            <intent-filter>
                <data android:host="${DOMAIN}"
                    android:scheme="${HOST}" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.sign.up.SignUpActivity" android:label="@string/sign_up"/>
        <activity android:name=".ui.user.sign.login.SignInActivity" android:label="@string/sign_in"
            android:windowSoftInputMode="adjustPan" />
<!--            android:windowSoftInputMode="stateVisible|adjustResize"/>-->
        <activity android:name=".ui.video.VideoActivity" android:label="@string/video"/>
        <activity android:name=".ui.interrogation.detail.InterrogationDetailActivity" />
    </application>
</manifest>
